@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font stuff */
@font-face {
  font-family: Leland;
  src: url('fonts/Leland/Leland.otf') format('opentype');
  font-feature-settings: 'ccmp';
}

body {
  font-family: var(--primary-font-family);
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
