@font-face {
  font-family: Inter;
  src: url('fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Leland;
  src: url('fonts/Leland/Leland.otf') format('opentype');
  font-feature-settings: 'ccmp';
}

@font-face {
  font-family: LelandText;
  src: url('fonts/Leland/LelandText.otf') format('opentype');
  font-feature-settings: 'ccmp';
}

@font-face {
  font-family: Bravura;
  src: url('fonts/Bravura/Bravura.otf');
  font-feature-settings: 'ccmp';
}

@font-face {
  font-family: BravuraText;
  src: url('fonts/Bravura/BravuraText.otf') format('opentype');
  font-feature-settings: 'ccmp';
}

@font-face {
  font-family: Gootville;
  src: url('fonts/GootVille/Gootville.otf') format('opentype');
  font-feature-settings: 'ccmp';
}

@font-face {
  font-family: GootvilleText;
  src: url('fonts/GootVille/GootvilleText.otf') format('opentype');
  font-feature-settings: 'ccmp';
}

body {
  font-family: 'Inter';
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Palette */
:root,
::before,
::after {
  --purplelighthover: #7029fb;
}
