body {
  background-color: #242632;
}
#topbar > div > i {
  color: white;
  cursor: pointer;
  transition: color 0.1s;
}
#topbar > div > i:hover {
  color: #3a68e7;
}

* {
  user-select: none;
}

.super-hands {
  color: white;
  cursor: pointer;
  transition: color 0.1s;
}
.super-hands:hover {
  color: #3a68e7;
}
