body {
  background-color: #2e2e2e;
}
#topbar i {
  color: white;
  cursor: pointer;
  transition: color 0.1s;
}
#topbar i:hover {
  color: #3a68e7;
}

* {
  user-select: none;
}

.super-hands {
  color: white;
  cursor: pointer;
  transition: color 0.1s;
}
.super-hands:hover i {
  color: #3a68e7 !important;
}

.SelectSongPage__song:hover {
  background-color: rgba(235, 27, 27, 0.5);
  cursor: pointer;
}

/* .SelectSongPage__song::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: #d9d5ec solid 1px;
} */
