body {
  background-color: #2E2E2E;
}
#topbar i {
  color: white;
  cursor: pointer;
  transition: color 0.1s;
}
#topbar i:hover {
  color: #3a68e7;
}

* {
  user-select: none;
}

.super-hands {
  color: white;
  cursor: pointer;
  transition: color 0.1s;
}
.super-hands:hover i {
  color: #3a68e7 !important;
}
